header {
  background-color: rgb(44, 20, 69);
  height: 80px;
  overflow: hidden;
  position: fixed; /* Keep Header in the same position */
  top: 0;
  width: 100%;
  z-index: 50; /* Keep Header above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px -1px;
}

/* Move social links to the right */
nav {
  float: right;
  margin-right: 1%;
  display: flex;
  height: 80px;
}

/* Hide list style */
.navbarul {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
}

.navbarul a,
header a {
  text-decoration: none;
  color: white;
  display: block;
  transition: color 0.2s;
}

/* Top-Left title color and size */
.title {
  margin-left: 1%;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.2s;
}

.navbarlink {
  display: flex;
  align-items: center;
  float: left;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  transition: color 0.2s;
}
