@font-face {
    font-family: 'momotrustsans';
    src: url('../fonts/momotrustsans-variablefont_wght-webfont.eot?') format('embedded-opentype'),
         url('../fonts/momotrustsans-variablefont_wght-webfont.woff') format('woff2'),
         url('../fonts/momotrustsans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
  margin: 0;
  font-family: "Momo Trust Sans";
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  height: fit-content;
  min-width: 100%;
}